pkgbase = sonic-frameworks-core-addons
	pkgdesc = Addons to QtCore
	pkgver = 6.27.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-core-addons
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = pyside6
	makedepends = python-build
	makedepends = python-setuptools
	makedepends = qt6-declarative
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	depends = systemd-libs
	depends = util-linux-libs
	optdepends = pyside6: Python bindings
	optdepends = qt6-declarative: QML bindings
	provides = kcoreaddons
	conflicts = kcoreaddons
	source = sonic-frameworks-core-addons-6.27.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-core-addons/archive/refs/tags/6.27.0.tar.gz
	sha256sums = 35ffabcd8774afd4fadd4ae5ac83b62ef36c6675b1542fef5a004c93dd8299a8

pkgname = sonic-frameworks-core-addons
